@import "tailwindcss";

@layer base {
  :root {
    --font-f1: 'Titillium Web', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
  }

  body {
    background-color: #090a0d;
    color: #f1f3f9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
  }
}

.font-f1 {
  font-family: 'Titillium Web', sans-serif;
}

.font-mono-nums {
  font-family: 'JetBrains Mono', monospace;
  font-variant-numeric: tabular-nums;
}

/* Custom telemetry scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0d0f14;
}
::-webkit-scrollbar-thumb {
  background: #232733;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e10600;
}

